body {
	background: lightyellow;
}

.home {
	text-align: center;
}

nav div {
  display: inline-block;
  margin: 1em;
}

.div-right {
	float: right;
}

img {
	height: 100px;
	width: 100px;
}

canvas {
	margin: 10px;
	padding: 10px;
	background: white;
	border: 2px solid black;
	border-radius: 5px;
}

button {
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}

ul {
	list-style-type: none;
}

.menu-list {
	display: flex;
	justify-content: left;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.menu-list-item {
	background: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 0 0 32%;
	padding: 5px;
	margin: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

.menu-list-item div {
	height: 33%;
}

.single-item {
	width: default;
	background: white;
	padding: 5px;
	margin: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

single-item-image {
	height: 500px;
	width: 500px;
}



